@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.codepen {
  display: flex;
  font-size: 60px;
  align-items: flex-start;
  color: #000;
  justify-content: center;
}

.bg {
  position: absolute;
  left: -25vw;
  top: -50vw;
  width: 150vw;
  height: 650vw;
  /* background-image: url(https://images.unsplash.com/photo-1538291323976-37dcaafccb12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80); */
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

span {
  position: sticky;
  top: calc(50% - 50px);
  height: 100px;
  display: inline-flex;
  align-items: center;
  mix-blend-mode: overlay;
  font-family: "Fredoka One", sans-serif;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 120px;
}

.c2 {
  margin-top: 100vw;
}

.c3 {
  margin-top: 200vw;
}

.c4 {
  margin-top: 300vw;
}

.c5 {
  margin-top: 400vw;
}

.c6 {
  /* margin-top: 500vw; */
  margin-top: 100vw;
}

.c7 {
  margin-top: 600vw;
}

.c8 {
  margin-top: 700vw;
}

a {
  position: sticky;
  bottom: -80px;
  width: 180px;
  text-align: center;
  right: 0;
  padding: 10px 20px;
  float: right;
  font-family: "Fredoka One", sans-serif;
  mix-blend-mode: overlay;
  color: #fff;
  font-size: 15px;
  z-index: 1;
  background-color: #000;
  border-radius: 20px 0 0;
  text-decoration: none;
}

.scroll {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  pointer-events: none;
}

@media (max-width: 660px) {
  a {
    display: none;
  }
  
  span {
    font-size: 15vw;
  }
}